@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l8y6cw');
  src:  url('fonts/icomoon.eot?l8y6cw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l8y6cw') format('truetype'),
    url('fonts/icomoon.woff?l8y6cw') format('woff'),
    url('fonts/icomoon.svg?l8y6cw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus .path1:before {
  content: "\e912";
  color: rgb(33, 150, 243);
}
.icon-plus .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.icon-chevron-1:before {
  content: "\e90e";
  color: #676767;
}
.icon-chevron:before {
  content: "\e90f";
  color: #676767;
}
.icon-pencil:before {
  content: "\e910";
  color: #6c6c6c;
}
.icon-negative .path1:before {
  content: "\e914";
  color: rgb(224, 79, 95);
}
.icon-negative .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sand-clock:before {
  content: "\e911";
  color: #575757;
}
.icon-settings:before {
  content: "\e90d";
  color: #c3c3c3;
}
.icon-chat:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e904";
  color: #8b8b8b;
}
.icon-events:before {
  content: "\e901";
  color: #575757;
}
.icon-heart:before {
  content: "\e902";
  color: #676767;
}
.icon-instagram:before {
  content: "\e903";
  color: #8b8b8b;
}
.icon-magnifying-glass:before {
  content: "\e905";
}
.icon-feed:before {
  content: "\e906";
  color: #575757;
}
.icon-box:before {
  content: "\e907";
  color: #575757;
}
.icon-send-button:before {
  content: "\e908";
}
.icon-team:before {
  content: "\e909";
  color: #575757;
}
.icon-thumb-up:before {
  content: "\e90a";
  color: #676767;
}
.icon-tick:before {
  content: "\e90b";
  color: #5d92dc;
}
.icon-attachment:before {
  content: "\e900";
  color: #5d92dc;
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-sleepy2:before {
  content: "\e9fe";
}
