@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?byg0ax');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?byg0ax#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?byg0ax') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?byg0ax') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?byg0ax##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-1 {
  &:before {
    content: $icon-chevron-1;     
    color: #676767;
  }
}
.icon-chevron {
  &:before {
    content: $icon-chevron;     
    color: #676767;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;     
    color: #6c6c6c;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;     
    color: #c3c3c3;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;     
    color: #8b8b8b;
  }
}
.icon-events {
  &:before {
    content: $icon-events;     
    color: #575757;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;     
    color: #676767;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;     
    color: #8b8b8b;
  }
}
.icon-magnifying-glass {
  &:before {
    content: $icon-magnifying-glass; 
  }
}
.icon-feed {
  &:before {
    content: $icon-feed;     
    color: #575757;
  }
}
.icon-box {
  &:before {
    content: $icon-box;     
    color: #575757;
  }
}
.icon-send-button {
  &:before {
    content: $icon-send-button; 
  }
}
.icon-team {
  &:before {
    content: $icon-team;     
    color: #575757;
  }
}
.icon-thumb-up {
  &:before {
    content: $icon-thumb-up;     
    color: #676767;
  }
}
.icon-tick {
  &:before {
    content: $icon-tick;     
    color: #5d92dc;
  }
}
.icon-attachment {
  &:before {
    content: $icon-attachment;     
    color: #5d92dc;
  }
}
.icon-folder-download {
  &:before {
    content: $icon-folder-download; 
  }
}
.icon-sleepy2 {
  &:before {
    content: $icon-sleepy2; 
  }
}

