$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-envelope: "\e900";
$icon-event: "\e901";
$icon-heart: "\e902";
$icon-instagram: "\e903";
$icon-magnifying-glass: "\e905";
$icon-newspaper: "\e906";
$icon-package: "\e907";
$icon-send-button: "\e908";
$icon-support: "\e909";
$icon-thumb-up: "\e90a";
$icon-tick: "\e90b";
$icon-message-circle: "\e904";

