$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-plus-path1: "\e912";
$icon-plus-path2: "\e913";
$icon-chevron-1: "\e90e";
$icon-chevron: "\e90f";
$icon-pencil: "\e910";
$icon-negative-path1: "\e914";
$icon-negative-path2: "\e915";
$icon-sand-clock: "\e911";
$icon-settings: "\e90d";
$icon-chat: "\e90c";
$icon-envelope: "\e904";
$icon-events: "\e901";
$icon-heart: "\e902";
$icon-instagram: "\e903";
$icon-magnifying-glass: "\e905";
$icon-feed: "\e906";
$icon-box: "\e907";
$icon-send-button: "\e908";
$icon-team: "\e909";
$icon-thumb-up: "\e90a";
$icon-tick: "\e90b";
$icon-attachment: "\e900";
$icon-folder-download: "\e933";
$icon-sleepy2: "\e9fe";

