{{> sidebar activeItem="feed"}}
{{> header activeItem="pinned"}}
{{> rightbar}}
<div class="page">
	
    <div class="feed-div">
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        {{> postcard info2="Pinned" }}
        {{> simplecard info2="Pinned"}}
        </div>	
</div>