{{> sidebar activeItem="feed"}}
{{> header activeItem="post"}}
{{> rightbar}}
<div class="page">
	
    <div class="feed-div">
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        {{> postcard}}
        
    </div>	
    {{> postcard}}
</div>