<!-- {{> blackscreen}} -->
{{> sidebar activeItem="feed"}}
{{> header activeItem="allpost"}}
{{> rightbar}}
<div class="page">
	
    <div class="feed-div">
        {{> newpost}}
        {{> postcard name="pellumb hasani" info="Today 15:32" info2="Pinned"}}
        {{> simplecard name="otaker01" info="Today, 15:12" info2="pinned"}}
        {{> postcard  name="labinot jaha"}}
        {{> simplecard name="naim hasani" info="Today 11:45"}}
        {{> postcard name="lirim hasani"}}
        {{> simplecard name='jon gruda'}}
        {{> postcard name='riad karabegu'}}
        {{> simplecard name="fanol jakupi"}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}
        {{> simplecard}}
        {{> postcard}}


        </div>	
</div>