<div class="main-container">
    <div class="main-header">
        <div class="main-header-inner">
            <div class="main-header-left"></div>
            <div class="main-header-right">
                Header
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="main-menu-inner">
            Main Menu
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- <div class="saysomething">
                <div class="saysomething__content">
                    <input />
                </div>
                <div class="saysomething__overlay"></div>
            </div> -->
            <div class="events-row">
                <div class="events-column">
                    <div class="event-card"></div>
                </div>
                <div class="events-column">
                    <div class="event-card"></div>
                </div>
                <div class="events-column">
                    <div class="event-card"></div>
                </div>
                <div class="events-column">
                    <div class="event-card"></div>
                </div>
                <div class="events-column">
                    <div class="event-card"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-sidebar">
        <div class="main-sidebar-inner">
            Sidebar
        </div>
    </div>
</div>