{{> sidebar }}
{{> profile-header activeItem="posts"}}
<div class="page fullbody profile-page2">	
    <div class="feed-div">
        <div class="profile-page">
            <div class="profile-head">
                {{> user info="High functioning sociopath Connecting Google dots"}}
            </div>
        </div>
        <div>
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
            {{> postcard}}
            {{> simplecard}}
        </div>
    </div>	
</div>