
{{> report-splash}}
{{> report-write}}
{{> report-splash-out}}

<div class="main-container">
        <div class="main-header">
            <div class="main-header-inner">
                <div class="main-header-left"></div>
                <div class="main-header-right">
                        {{> profile-header activeItem="profile"}}
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="main-menu-inner">
                    {{> sidebar }}
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-inner ">
                <div class="profile-head profile-page">
                        {{> user info="High functioning sociopath Connecting Google dots"}}
                </div>
                <div class="profile-body">
                    <div class="cards">
                        {{> profile-big-card  class="big-card"}}
                        {{> profile-card title="Tags" info1="Banor i zyres" info2="Design"}}
                        {{> profile-card title="Mozaix Role" info1="UI Designer" info2="UX Designer"}}
                        {{> profile-card title="Date entered Mozaix" info1="June 10, 2019" }}
                        {{> profile-card title="Activity" info1="20 Posts" info2="2 Photos" }}
                    </div>
                    <div>
                        {{> schedule}}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-sidebar">
            <!-- <div class="main-sidebar-inner">
                Sidebar
            </div> -->
        </div>
    </div>