{{> sidebar }}
{{> profile-header activeItem="profile"}}
<div class="page fullbody profile-page">	
    <div class="feed-div">
        <div class="profile-head">
            {{> user info="High functioning sociopath Connecting Google dots"}}
        </div>
        <div class="profile-body">
            <div class="cards">
                {{> profile-big-card  class="big-card"}}
                {{> profile-card title="Tags" info1="Banor i zyres" info2="Design"}}
                {{> profile-card title="Mozaix Role" info1="UI Designer" info2="UX Designer"}}
                {{> profile-card title="Date entered Mozaix" info1="June 10, 2019" }}
                {{> profile-card title="Activity" info1="20 Posts" info2="2 Photos" }}
            </div>
            <div>
                {{> schedule}}
            </div>
        </div>


    </div>	
</div>