<div class="main-container">
    <div class="main-header">
        <div class="main-header-inner">
            <div class="main-header-left"></div>
            <div class="main-header-right">
                {{> profile-header activeItem="posts"}}
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="main-menu-inner">
            {{> sidebar }}
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="profile-page" style="position: relative;">
                <div class="profile-head">
                    {{> user info="High functioning sociopath Connecting Google dots"}}
                </div>
            </div>
            <div style="margin-top: 30px;">
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
                {{> postcard}}
                {{> simplecard}}
            </div>
        </div>
    </div>
</div>