<div class="terms-main-div">
    <div class="background-logo-div" >
        <img class="background-logo" src="../../assets/toolkit/images/Page-1 (1).svg" alt="">
    </div>
    <div class="terms-hero">
        <div class="terms-part1">
            <div style="position: relative;">
                <span class="back-to-login"><a href="http://localhost:3000/pages/login.html"><img src="../../assets/toolkit/images/back-button.svg" alt=""></a></span>
                <div>
                    <img src="../../assets/toolkit/images/Page-1 (1).svg" alt="">
                    <p class="privacy-policy">Privacy Policy</p>
                </div>
            </div>
        </div>
        <div class="terms-part2">
            <div class="terms-text-div">
                <p class="bold-text">Lorem, ipsum.</p>
                <p class="normal-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae magnam molestias numquam quasi, omnis consectetur aliquam, quibusdam rem nostrum eos enim a reprehenderit odio voluptates debitis, doloribus facere eum asperiores! Adipisci officia aut blanditiis incidunt maxime, vel sed explicabo?</p>
                <p class="bold-text">Lorem, ipsum.</p>
                <p class="normal-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae magnam molestias numquam quasi, omnis consectetur aliquam, quibusdam rem nostrum eos enim a reprehenderit odio voluptates debitis, doloribus facere eum asperiores! Adipisci officia aut blanditiis incidunt maxime, vel sed explicabo?</p>
                <p class="bold-text">Lorem, ipsum.</p>
                <p class="normal-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae magnam molestias numquam quasi, omnis consectetur aliquam, quibusdam rem nostrum eos enim a reprehenderit odio voluptates debitis, doloribus facere eum asperiores! Adipisci officia aut blanditiis incidunt maxime, vel sed explicabo?</p>
                <p class="bold-text">Lorem, ipsum.</p>
                <p class="normal-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae magnam molestias numquam quasi, omnis consectetur aliquam, quibusdam rem nostrum eos enim a reprehenderit odio voluptates debitis, doloribus facere eum asperiores! Adipisci officia aut blanditiis incidunt maxime, vel sed explicabo?</p>
                <p class="bold-text">Lorem, ipsum.</p>
                <p class="normal-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi recusandae magnam molestias numquam quasi, omnis consectetur aliquam, quibusdam rem nostrum eos enim a reprehenderit odio voluptates debitis, doloribus facere eum asperiores! Adipisci officia aut blanditiis incidunt maxime, vel sed explicabo?</p>
                
                
            </div>
        </div>
        <!-- <div class="terms-part3">
                <p class="rights">All rights reserved by <strong>Mozaix LLC 2019</strong></p>
        </div> -->
        <div class="login-div-foot" style="display: flex;text-align: center; width: 100%;justify-content: center;bottom: 5px;">
            <img class="footer-logo" src="../../assets/toolkit/images/mozaixLogo.png" alt="">
            <p class="rights">All rights reserved by <strong>Mozaix LLC 2019</strong></p>
        </div>
    </div>
</div>