.text-post-div {
    padding: 10px 10px 0 0px;
}
.text-post {
    font-family: Montserrat;
    font-size: 14px;
    color: #000000;
    line-height: 21px;
    margin: 0;
    &.bolder {
        font-weight: bolder;
        padding: 5px 0;
    }
}

.hide-text-report {
    display: none;
}

// .hide-div-report {
//     display: none;
// }