.header {
    // width: calc(100% - 332px);
    width: 100%;
    // transform: translateX(357px);
    height: 80px;
    // background-color: #f1f1f1;
    // border-bottom: solid 1px #707070;
    // position: fixed;
    display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    // z-index: 10;
    // margin: 0px 20px;
    // margin-right: 70px;
    // padding: 0 20px;
    // padding-left: 13px;
    
}
.header2 {
    // background-color: #f1f1f1;
    // width: calc(100% - 387px);
    width: 100%;
    border-bottom: solid 1.5px #d0d0d1;
    // position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // z-index: 222;
    // margin-left: 30px;
    // margin-right: 115px;
}

