.image-post-div {
    display: flex;
    width: 100%;
    padding: 15px 0;
    overflow-x: scroll;
    // overflow-y: hidden;
}
.image-post-div::-webkit-scrollbar {
    display: none;
}

.image-post {
    width: 217px;
    height: 146px;
    border-radius: 5px;
    margin-right: 20px;
}