.like-comment-div {
    display: flex;
    padding-top: 5px;
    &.agree {
        justify-content: space-between;
    }
}

.like-comment {
    width: 87px;
    font-family: Montserrat;
    font-size: 15px;
    padding-right: 20px;
    outline: none;
    color: #676767;
    // color: black;
    &.agree {
        padding: 0;
        margin: 0;
    }
    &.liked {
        color: #5d92dc;
        &::after {
            content: "d";
            color: #5d92dc;
            font-family: Montserrat;
            font-size: 15px;
        }
    }
}

.agree-num {
    color: #0059ff;
}