.login-gif-div {
    width: 40%;
    height: 100vh;
    background-color: rgb(88, 103, 167);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 1;
    justify-content: center;
}
.login-gif {
    width: 100%;
    margin: 0;
    padding: 0;
}