.team-header {
    height: 80px;
    border-bottom: 1px solid gray;
    width: 100%;
    // padding: 0 30px;
    display: flex;
    flex-direction: column;
    // align-items: ;
    justify-content: flex-end;
}
.team-input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    font-family: Montserrat;
    color: #212121;
    font-size: 16px;
    &:focus {
        outline: none;
        background: none;
        border: none;
        box-shadow: none;
    }
}


.team-members {
    padding: 0;
    /* padding: 0 20px; */
    padding-top: 20px;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-row-gap: 17px;
    grid-column-gap: 17px;
}

.team-member {
    width: 139px;
    height: 133px;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 10px;
}

.first-part {
    height: 50%;
    text-align: center;
    padding-top: 0px;
}
.team-member-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.second-part {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
    // align-items: flex-end;
    justify-content: center;
    padding-top: 15px;
}
.team-member-name {
    font-size: 14px;
    font-weight: 600;
    color: #343434;
    line-height: 15px;
    margin: 0;
    text-transform: capitalize;
    
}

.team-member-role {
    color: #838383;
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    // text-transform: capitalize;
}

@media only screen and (max-width:1170px) {
    .team-members {
        // background-color: red;
        grid-template-columns: auto auto auto auto auto ;
    }
 
}
@media only screen and (max-width:1010px) {
    .team-members {
        // background-color: red;
        grid-template-columns: auto auto auto auto ;
    }
 
}